.galeria {
  min-height: 45vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 1vh;
  margin-right: 1vh;
}
.galery-image {
  width: 60%;
}
@media screen and (min-width: $medium) {
}
@media screen and (min-width: $large) {
}
