.item {
  text-decoration: none;
  color: $font-color;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.28);
  margin-bottom: 10vh;
  transition: all 0.5s ease-in-out;
}
.item:hover,
.item:focus {
  color: $accent-color;
}
@media screen and (min-width: $medium) {
  .item {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
@media screen and (min-width: $large) {
}
