.home-landing {
  margin-left: 2vh;
  margin-right: 2vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  min-height: 80vh;
}
.landing_image_wrap {
  position: relative;
  top: -12em;
  right: -20em;
}

#wave {
  position: absolute;
  width: 100vw;
}
#wave2 {
  transform: scaleX(-1);
  position: absolute;
  width: 100vw;
}
.home-menu {
  position: relative;
  margin-top: 10vh;
  margin-bottom: 10vh;
}
.menu-items {
  background-color: $main-color;
  padding-top: 5vh;
  padding-bottom: 5vh;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.28);
}
.item-wrap {
  text-decoration: none;
  color: $font-color;
  transition: all 0.3s linear;
  cursor: pointer;
}
.item-wrap:hover,
.item-wrap:focus {
  cursor: pointer;
  color: $accent-color;
}

#csokorIMG,
#koszoruIMG,
#dekorIMG {
  width: 50%;
}
@media screen and (min-width: $medium) {
  .home-landing {
    margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  .menu-items {
    padding-top: 7.5vh;
    padding-bottom: 7.5vh;
  }
}
@media screen and (min-width: $large) {
  .home-landing {
    margin-left: 7.5vh;
    margin-right: 7.5vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
  .menu-items {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}
