html,
body {
  background-color: $main-color;
  color: $font-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  font-family: $font;
  transition: background-color 1s ease-in-out;
}
.container-fluid {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
::-webkit-scrollbar {
  display: none;
}

/*
  Custom Cursor 
*/
.cursor {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: $accent-color;
  border: 0.15em solid $accent-color;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  z-index: 1090;
  pointer-events: none;
}
.drag {
  width: 3.5em;
  height: 3.5em;
  z-index: 1090;
  color: $main-color;
}
.drag::after {
  content: "Húzza";
  position: absolute;
  top: 0.8em;
  left: 0.2em;
}
.bttn {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s, opacity 0.1s ease-in-out;
}
.links {
  transform: scale(6);
  mix-blend-mode: difference;
}
.wt {
  background-color: $main-color;
  border: none;
}

/*
  Button Decorations
*/
.button-wrap {
  margin-top: 1em;
  transition: all 1s ease-in-out;
  a {
    color: $main-color;
    font-size: clamp(1rem, 2vw, 1.3rem);
    text-decoration: none;
  }
}
#button_1 {
  cursor: pointer;
  color: $main-color;
  background-color: $accent-color;
  padding: 0.5em;
  transition: all 0.5s ease-in-out;
}
#button_1:hover,
#button_1:focus {
  background-color: transparent;
  color: $accent-color;
  border: 1px solid $accent-color;
  transition: all 0.5s ease-in-out;
}
#button_2,
.button_propd {
  cursor: pointer;
  border: 1px solid $accent-color;
  background-color: transparent;
  color: $accent-color;
  padding: 0.5em;
  transition: all 0.5s ease-in-out;
}
#button_2:hover,
#button_2:focus,
.button_propd:hover,
.button_propd:focus {
  background-color: $accent-color;
  color: $main-color;
  transition: all 0.5s ease-in-out;
}

/*
  Text Decorations
*/
.text-wrap {
  h1 {
    font-size: 3rem;
    font-size: clamp(3rem, 2vw, 1.25rem);
  }
  h1 span {
    font-weight: bold;
    color: $accent-color;
  }
}
.text-wrap {
  position: relative;
  transition: all 0.3s ease-in-out;
  h1 {
    font-weight: bold;
    font-size: clamp(2rem, 2.5vw, 4em);
  }
  h2 {
    font-weight: bold;
  }
  h3 {
    //font-size: clamp(1.75rem, 2.5vw, 3em);
    color: $font-color;
    font-weight: bold;
  }
  p {
    font-size: clamp(1.25rem, 2vw, 1.5rem);
    margin-bottom: 1.5em;
  }
  a {
    color: $accent-color;
    font-size: clamp(1rem, 2vw, 1.3rem);
    text-decoration: none;
  }
  span {
    color: $secondary-color;
  }
  .bold {
    font-weight: 900;
    font-size: clamp(1rem, 2vw, 1.25rem);
  }
}
.accent span {
  color: $accent-color;
  font-weight: bold;
}
.text-wrap p a:hover {
  text-decoration: underline;
}

/*
 Visibility Animation
*/
.d-show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
}
.d-not {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
}

/*
  Custom Margin
*/
.margin-10 {
  margin: 1.5vh;
}

@media screen and (min-width: $medium) {
  .margin-10 {
    margin: 5vh;
  }
}
@media screen and (min-width: $large) {
  .margin-10 {
    margin: 10vh;
  }
}
