@charset "UTF-8";
@font-face {
  font-family: "Segoe UI Local";
  src: local("Segoe UI Light");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI Local";
  src: local("Segoe UI");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI Local";
  src: local("Segoe UI Semibold");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI Web (West European)";
  src: url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff2") format("woff2"), url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-light.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI Web (West European)";
  src: url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-regular.woff2") format("woff2"), url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Segoe UI Web (West European)";
  src: url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff2") format("woff2"), url("https://static2.sharepointonline.com/files/fabric/assets/fonts/segoeui-westeuropean/segoeui-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
html,
body {
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  font-family: "Segoe UI Local", "Segoe UI Web (West European)";
  transition: background-color 1s ease-in-out;
}

.container-fluid {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
  display: none;
}

/*
  Go To Top Button
*/
.gototop {
  transition: all 0.5s ease-in-out;
  height: 3em;
  width: 3em;
  background-color: #000000;
  color: #ffffff;
  border-radius: 50%;
  z-index: 1030;
  cursor: pointer;
  position: fixed;
  bottom: 0.5em;
  right: 0.5em;
}

.gototop:hover {
  transition: all 0.5s ease-in-out;
  height: 5em;
  width: 5em;
  background-color: #d1beba;
}

.bi-arrow-up {
  color: #ffffff;
  font-size: 1.6rem;
}

/*
  Custom Cursor 
*/
.cursor {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #d1beba;
  border: 0.15em solid #d1beba;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  z-index: 1090;
  pointer-events: none;
}

.drag {
  width: 3.5em;
  height: 3.5em;
  z-index: 1090;
  color: #ffffff;
}

.drag::after {
  content: "Húzza";
  position: absolute;
  top: 0.8em;
  left: 0.2em;
}

.bttn {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.1s, opacity 0.1s ease-in-out;
}

.links {
  transform: scale(6);
  mix-blend-mode: difference;
}

.logoh {
  transform: scale(10);
  mix-blend-mode: hard-light;
}

.logot {
  transform: scale(8);
  mix-blend-mode: multiply;
}

.wt {
  background-color: #ffffff;
  border: solid 2px #d1beba;
}

.zoom {
  transform: scale(12);
  mix-blend-mode: hard-light;
}

/*
  Button Decorations
*/
.button-wrap {
  margin-top: 1em;
  transition: all 1s ease-in-out;
}
.button-wrap a {
  color: #ffffff;
  font-size: clamp(1rem, 2vw, 1.3rem);
  text-decoration: none;
}

#button_1 {
  cursor: pointer;
  color: #ffffff;
  background-color: #d1beba;
  padding: 0.5em;
  border: 1px solid #d1beba;
  transition: all 0.5s ease-in-out;
}

#button_1:hover,
#button_1:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #d1beba;
  transform: translateY(-0.25em);
  background-color: transparent;
  color: #d1beba;
  border: 1px solid #d1beba;
  transition: all 0.5s ease-in-out;
}

#button_2,
.button_propd {
  cursor: pointer;
  border: 1px solid #d1beba;
  background-color: transparent;
  color: #d1beba;
  padding: 0.5em;
  transition: all 0.5s ease-in-out;
}

#button_2:hover,
#button_2:focus,
.button_propd:hover,
.button_propd:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #d1beba;
  transform: translateY(-0.25em);
  border: 1px solid #d1beba;
  background-color: #d1beba;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}

/*
  Text Decorations
*/
.text-wrap h1 {
  font-size: 3rem;
  font-size: clamp(3rem, 2vw, 1.25rem);
}
.text-wrap h1 span {
  font-weight: bold;
  color: #d1beba;
}

.text-wrap {
  position: relative;
  transition: all 0.3s ease-in-out;
}
.text-wrap h1 {
  font-weight: bold;
  font-size: clamp(2rem, 2.5vw, 4em);
}
.text-wrap h2 {
  font-weight: bold;
}
.text-wrap h3 {
  color: #000000;
  font-weight: bold;
}
.text-wrap p {
  font-size: clamp(1.25rem, 2vw, 1.5rem);
  margin-bottom: 1.5em;
}
.text-wrap a {
  color: #d1beba;
  font-size: clamp(1rem, 2vw, 1.3rem);
  text-decoration: none;
}
.text-wrap span {
  color: #94939f;
}
.text-wrap .bold {
  font-weight: 900;
  font-size: clamp(1rem, 2vw, 1.25rem);
}

.accent span {
  color: #d1beba;
  font-weight: bold;
}

.text-wrap p a:hover {
  text-decoration: underline;
}

/*
 Visibility Animation
*/
.d-show {
  visibility: visible;
  opacity: 1;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
}

.d-not {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s ease-in-out;
}

/*
  Custom Margin
*/
.margin-10 {
  margin: 1.5vh;
}

@media screen and (min-width: 768px) {
  .margin-10 {
    margin: 5vh;
  }

  .gototop {
    right: 1em;
    bottom: 1em;
  }
}
@media screen and (min-width: 992px) {
  .margin-10 {
    margin: 10vh;
  }

  .gototop {
    right: 1.5em;
    bottom: 1.5em;
  }
}
nav {
  height: 4em;
  position: fixed;
  z-index: 1030;
  transition: transform 1s ease-in-out;
}

nav .logo {
  top: 1.5em;
  left: 1.5em;
  width: 15em;
  height: 5em;
  position: relative;
}

#logo {
  width: 80%;
  height: auto;
  position: absolute;
  overflow: hidden;
}

.burger {
  transition: all 0.5s ease-in-out;
  height: 3em;
  width: 3em;
  background-color: #000000;
  border-radius: 50%;
  z-index: 1030;
  cursor: pointer;
  position: fixed;
  top: 0.5em;
  right: 0.5em;
}
.burger span {
  transition: all 0.5s ease-in-out;
  top: 1em;
  left: 0.4em;
  position: relative;
  display: block;
  margin: 0.2em;
  height: 0.2em;
  width: 1.8em;
  background-color: #ffffff;
}

.burger:hover {
  height: 5em;
  width: 5em;
  background-color: #d1beba;
}
.burger:hover span {
  top: 2.1em;
  left: 1.4em;
}

.burger-active {
  transition: all 0.5s ease-in-out;
  background-color: #d1beba;
}

.burger-active #line1 {
  transition: all 0.5s ease-in-out;
  transform: rotate(45deg);
}

.burger-active #line2 {
  transition: all 0.5s ease-in-out;
  margin-top: -0.4em;
  transform: rotate(-45deg);
}

.burger-active span {
  transition: all 0.5s ease;
  background-color: #ffffff;
  top: 1.1em;
}

.navigation {
  overflow: hidden;
  min-height: 100%;
}

.navigation-menu {
  transform: translateX(0);
  margin: 0;
  position: fixed;
  overflow: hidden;
  height: 100%;
  width: 100%;
  background-color: rgba(42, 42, 42, 0.9);
  z-index: 1000;
}
.navigation-menu ul {
  margin-top: 5em;
  list-style: none;
}
.navigation-menu ul li a {
  transition: all 0.5s ease;
  text-decoration: none;
  color: #ffffff;
  font-size: clamp(2.5rem, 1vw, 1.25rem);
}
.navigation-menu ul li a:hover {
  color: #d1beba;
  font-size: 3.5rem;
}

@media screen and (min-width: 768px) {
  .burger {
    right: 1em;
    bottom: 1em;
  }
}
@media screen and (min-width: 992px) {
  .burger {
    right: 1.5em;
    bottom: 1.5em;
  }
}
footer {
  padding-top: 1.5em;
  margin-top: 5vh;
  background-color: #2b2b2b;
  color: #ffffff;
}

.footer-text-wrap {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  transition: all 0.3s ease-in-out;
}
.footer-text-wrap i {
  width: 1em;
  height: 1em;
  color: #94939f;
  opacity: 0.5;
  margin-right: 0.5em;
}
.footer-text-wrap p {
  cursor: pointer;
  margin: 0;
  font-size: clamp(1.15rem, 1vw, 2rem);
}
.footer-text-wrap span {
  color: #94939f;
  text-decoration: none;
}
.footer-text-wrap o {
  color: #94939f;
  opacity: 0.5;
}

.social {
  margin-top: 1em;
}
.social a {
  margin-right: 0.3em;
  font-size: 1.5rem;
  color: #94939f;
}
.social a i {
  margin: 0;
  padding: 0;
}

.promo {
  transition: all 0.3s ease-in-out;
  margin-top: 1em;
}
.promo p {
  opacity: 0.5;
  color: #94939f;
}
.promo a {
  text-decoration: none;
  color: #d1beba;
}
.promo a:hover,
.promo a:focus {
  text-decoration: underline;
}

.map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30vh;
  filter: grayscale(100%) invert(92%) contrast(83%);
}

@media screen and (min-width: 768px) {
  footer {
    padding-top: 1.5em;
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .footer-text-wrap {
    margin-left: 2em;
    margin-right: 2em;
  }
}
@media screen and (min-width: 992px) {
  footer {
    padding-top: 1.5em;
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  .footer-text-wrap {
    margin-left: 3em;
    margin-right: 3em;
  }
}
.swiper {
  margin-bottom: 5vh;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.28);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #ffffff;
}

.swiper-slide {
  margin: 0;
  padding: 0;
  min-height: 50vh;
}

.swiper-wrapper {
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  min-height: 50vh;
}

#swiperImage {
  width: 80%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.28);
}

.swiperImage {
  width: 60%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.28);
}

#product-desc {
  color: #94939f;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  #swiperImage {
    width: 60%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.28);
  }

  .current-products {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .swiper-wrapper {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
}
@media screen and (min-width: 992px) {
  #swiperImage {
    max-height: 80vh;
    width: 60%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.28);
  }

  .current-products {
    margin-top: 15vh;
    margin-bottom: 15vh;
  }

  .swiper-wrapper {
    margin-top: 7.5vh;
    margin-bottom: 7.5vh;
  }
}
.item {
  background-color: #ffffff;
  min-height: 35vh;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  text-decoration: none;
  color: #000000;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.28);
  margin-bottom: 10vh;
  transition: all 0.5s ease-in-out;
  position: relative;
}

.item:hover,
.item:focus {
  background-color: #d1beba;
  color: #ffffff;
}

.item h3,
.item h4 {
  padding: 0.5em;
}

@media screen and (min-width: 768px) {
  .item {
    padding: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
}
@media screen and (min-width: 992px) {
  .item {
    min-height: 52vh;
  }
}
.home-landing {
  margin-left: 2vh;
  margin-right: 2vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  min-height: 80vh;
}

.landing_image_wrap {
  position: relative;
  top: -12em;
  right: -20em;
}

#wave {
  position: absolute;
  width: 100vw;
}

#wave2 {
  transform: scaleX(-1);
  position: absolute;
  width: 100vw;
}

.home-menu {
  position: relative;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.menu-items {
  background-color: #ffffff;
  padding-top: 5vh;
  padding-bottom: 5vh;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.28);
}

.item-wrap {
  text-decoration: none;
  color: #000000;
  transition: all 0.3s linear;
  cursor: pointer;
}

.item-wrap:hover,
.item-wrap:focus {
  cursor: pointer;
  color: #d1beba;
}

#csokorIMG,
#koszoruIMG,
#dekorIMG {
  width: 50%;
}

@media screen and (min-width: 768px) {
  .home-landing {
    margin-left: 5vh;
    margin-right: 5vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .menu-items {
    padding-top: 7.5vh;
    padding-bottom: 7.5vh;
  }
}
@media screen and (min-width: 992px) {
  .home-landing {
    margin-left: 7.5vh;
    margin-right: 7.5vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  .menu-items {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}
.product-landing {
  position: relative;
  margin-top: 10vh;
  margin-bottom: 10vh;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#prod-desc {
  white-space: pre-line;
  color: #94939f;
}

.modal-body {
  overflow: hidden;
  background-image: url(../images/waveRotated.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 992px) {
  .modal-body {
    background-image: url(../images/waveRotated.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
  }
}
.contact-landing {
  min-height: 45vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

input {
  border: 0;
}

.galeria {
  min-height: 45vh;
  margin-top: 10vh;
  margin-bottom: 10vh;
  margin-left: 1vh;
  margin-right: 1vh;
}

.galery-image {
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.28);
  width: 60%;
}

.create-section {
  margin-top: 12vh;
  margin-bottom: 12vh;
}

.galery-edit {
  margin-top: 12vh;
  margin-bottom: 12vh;
}

.galery-item {
  position: relative;
}

#pen,
#bin {
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  border-radius: 1em;
  text-align: center;
  padding: 0.5em;
  top: -1.25em;
}

#pen {
  right: 6em;
  background: #ffffff;
  border: 2px solid #d1beba;
}

#bin {
  background: #ffffff;
  border: 2px solid #d1beba;
  right: 3.5em;
}

#pen2,
#bin2 {
  position: static;
  background: #ffffff;
  border: 2px solid #d1beba;
  width: 2.5em;
  height: 2.5em;
  padding: 0.5em;
  border-radius: 1em;
  text-align: center;
}